<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ChatRoomWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/chatroom/server.php" binding="basicHttpBinding"
          bindingConfiguration="ChatRoomWebServiceBinding" contract="ChatRoomWebService.ChatRoomWebServicePortType"
          name="ChatRoomWebServicePort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="8888"/>
    <add key="Username" value="channel"/>
    <add key="Password" value="5091e242fc278ace8e4b2e41197fd8a1"/>
  </appSettings>
</configuration>