<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ChatRoomWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/chatroom/server.php" binding="basicHttpBinding"
                bindingConfiguration="ChatRoomWebServiceBinding" contract="ChatRoomWebService.ChatRoomWebServicePortType"
                name="ChatRoomWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>